body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a, a:hover {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
button {
  border: 0;
}
button:focus {
  outline: none;
}


/* common class design start  */
.sc-title-wrapper {
  padding: 0 1rem 1.5rem;
}
.sc-title-wrapper .title-box {
  display: inline-block;
  font-size: 0;
  line-height: 0px;
}
.sc-title-wrapper .title-box span {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 42px;
}
.sc-title-wrapper .title-box .icon i {
  transform: rotate(-58deg);
}

.slick-slider .slick-prev::before, .slick-slider .slick-next::before  {
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
}


/* filter menu style start */
.menu-wrapper {
  display: flex;
  flex-wrap: wrap;
}


.menu-icon-wrapper {
  background-color: #232F3E;
  flex: 0 0 2%;
  max-width: 2%;
}
.menu-icon-wrapper .icon-inner {
  padding: .75rem 0 .75rem 1rem; 
}
.menu-icon-wrapper .icon-inner .line {
  width: 18px;
  height: 2px;
  background-color: #ffffff;
}
.menu-icon-wrapper .icon-inner .line:not(:last-child) {
  margin-bottom: 0.375rem;
}


.filter-menu-wrapper {
  flex: 0 0 98%;
  max-width: 98%;
}
.filter-menu-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #232F3E;
}

.filter-menu-items li {
  display: inline-block;
}
.filter-menu-items li .items {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #ffffff;
  padding: .5rem 1rem;
  text-transform: capitalize;
  display: block;
}
.filter-right-box .filter-menu-items li:first-child .items {
  background-color: #FB7D92;
  text-transform: uppercase;
}
.filter-right-box .filter-menu-items li:last-child .items {
  text-transform: initial;
}



/* main menu design start */
.main-menu-wrapper {
  flex: 0 0 100%;
  max-width: 100%;
}
.main-menu-items {
  text-align: center;
}
.main-menu-items li {
  display: inline-block;
}
.main-menu-items li .items {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #000000;
  padding: .5rem 1rem;
  text-transform: capitalize;
  display: block;
}


/* hero section design start */
.hero-section .slick-slider .slick-prev {
  left: 4px;
}
.hero-section .slick-slider .slick-prev::before, .hero-section .slick-slider .slick-next::before  {
  /* font-family: "Font Awesome 5 Free";
  font-weight: 700; */
  font-size: 32px;
}
.hero-section .slick-slider .slick-prev::before {
  content: '\f104';
}
.hero-section .slick-slider .slick-next::before {
  content: '\f105';
}
.hero-section .slick-slider .slick-next {
  right: 4px;
}

.hero-section .slick-slider .slick-prev, .hero-section .slick-slider .slick-next {
  z-index: 1;
}



/* wholesale shopping design start  */
.ws-section {
  background-color: #EAEDED;
  padding: 62px 0;
}
.ws-slider-wrapper .slick-prev {
  display: none !important;
}
.ws-slider-wrapper .slick-next {
  right: 45px;
}
.ws-slider-wrapper .slick-prev, .ws-slider-wrapper .slick-next {
  top: -12%;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  transform: translate(0, 0);
  width: auto;
  height: auto;
}
.ws-slider-wrapper .slick-prev::before {
}
.ws-slider-wrapper .slick-next::before {
  content: '';
}
.ws-slider-wrapper .slick-next::after {
  content: '\f061';
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  line-height: 1;
  margin-left: 8px;
}
.prodcut-wrapper {
  background-color: #fff;
  padding: 6px;
  margin: 0 .5rem;
}
.product-inner {
  border-radius: 16px;
  box-shadow: -1px 0px 4px 0px rgba(0,0,0,0.35);
-webkit-box-shadow: -1px 0px 4px 0px rgba(0,0,0,0.35);
-moz-box-shadow: -1px 0px 4px 0px rgba(0,0,0,0.35);
overflow: hidden;
}

.product-inner .group-btton {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 12px 8px 0;
}
.product-inner .group-btton .title-box {
  background-color: #000000;
}
.product-inner .group-btton .view-all-box {
  background-color: #C8151B;
}
.product-inner .group-btton .title-box, .product-inner .group-btton .view-all-box {
  min-width: 92px;
  text-align: center;
}
.product-inner .group-btton .title-box .text, .product-inner .group-btton .view-all-box .text {
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  padding: .375rem .75rem;
  text-transform: uppercase;
}
.product-inner .price-box {
  text-align: center;
}
.product-inner .price-box h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #FD050A;
}
.product-inner .price-box h4 span.symbol {
  font-size: 1.5rem;
  font-weight: 800;
  color: #FD050A;
}
.product-inner .price-box h4 span {
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
}
.product-inner .adt-cart-box {
  text-align: center;
  padding: 1rem 0;
}
.product-inner .adt-cart-box button {
  background-color: #4371B7;
  border-radius: 40px;
  font-size: 1.125rem;
  font-weight: 400;
  padding: .25rem 3rem;
  color: #ffffff;
}
.product-inner .status-box {
  background-color: #E6F3FC;
  padding: .25rem .5rem;
  text-align: center;
}
.product-inner .status-box .st-link {
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
  padding: 0 .5rem;
  display: inline-block;
}
.product-inner .status-box .st-link:not(:last-child) {
  border-right: 1px solid #d5d5d5;
}















.external-page, .not-found-page {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.external-page, .not-found-page .content {
  text-align: center;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
